<!DOCTYPE html>
	<head>
        <title><%= title %></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/stylesheets/bootstrap-superhero.css"/>
		<link rel="stylesheet" href="/stylesheets/bootstrap-tags.css"/>
		<link rel="stylesheet" href="/stylesheets/general.css"/>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script src="/javascripts/Chart.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/data.js"></script>
		
		<script>
	/*		function getQuerystringNameValue(name){
				var winURL = window.location.href;
				var queryStringArray = winURL.split("?");
				var queryStringParamArray = queryStringArray[1].split("&");
				var nameValue = null;
			
				for ( var i=0; i<queryStringParamArray.length; i++ )
				{           
					queryStringNameValueArray = queryStringParamArray[i].split("=");
			
					if ( name == queryStringNameValueArray[0] )
					{
						nameValue = queryStringNameValueArray[1];
					}                       
				}
			
				return nameValue;
			}	*/
			function getObjects(obj, key, val) {
				var objects = [];
				for (var i in obj) {
					if (!obj.hasOwnProperty(i)) continue;
					if (typeof obj[i] == 'object') {
						objects = objects.concat(getObjects(obj[i], key, val));
					} else if (i == key && obj[key] == val) {
						objects.push(obj);
					}
				}
				return objects;
			}
			
     //       var courseID = getQuerystringNameValue("course");
     //       var course = getObjects(obj.courses, "course_id", courseID);
    //        var reviews = getObjects(obj.users, "course_id", courseID);
            //Calculate average rating
            var ratingSum = 0;
            for(var i = 0; i < reviews.length; i++){
                ratingSum += reviews[i].rating;
            }
            if(reviews.length > 0){
                var ratingAvg = (ratingSum / reviews.length).toFixed(2);
            }
            else{
                var ratingAvg = "NA";
            }
            //Calculate average difficulty
            var difficultySum = 0;
            for(var i = 0; i < reviews.length; i++){
                difficultySum += reviews[i].difficulty;
            }
            if(reviews.length > 0){
                var difficultyAvg = (difficultySum / reviews.length).toFixed(2);
            }
            else{
                var difficultyAvg = "NA";
            }
            //Calculate average grade
            gradeArray = {"A":4.0, "A-":3.7, "B+":3.3, "B":3.0, "B-":2.7, "C+":2.3, "C":2.0, "C-":1.7, "D+":1.3, "D":1.0, "D-":0.7, "F+":0.3, "F":0.0};
            var pointArray = [4.0, 3.7, 3.3, 3.0, 2.7, 2.3, 2.0, 1.7, 1.3, 1.0, 0.7, 0.3, 0.0];
            var letterArray = ["A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F+", "F"];
            var gradeSum = 0;
            for(var i = 0; i < reviews.length; i++){
                gradeSum += gradeArray[reviews[i].grade];
            }
            if(reviews.length > 0){
                var gradeAvg = (gradeSum / reviews.length).toFixed(2);
                var diffArray = pointArray;
                for(var i = 0; i < pointArray.length; i++){
                    diffArray[i] = Math.abs(pointArray[i] - gradeAvg);
                }
                leastDiff = Math.min.apply(Math, diffArray);
                var avgLetterGrade = letterArray[diffArray.indexOf(leastDiff)];
            }
            else{
                var avgLetterGrade = "NA";
            }
            
            //AJAX post request to database, returns list of all courses
            function addCourse(){
                var course_id = <%= course_id %>;
                $.ajax( {
                    url: '/course',
                    type: 'POST',
                    data: {"course_id" : course_id},
                    success: function(response) {
                        if(response == 'success'){
                            //On success of adding class to db, change class button
                            console.log('POST success');
                            document.getElementById("addButton").disabled = true;
                            document.getElementById('addButton').classList.remove('btn-gold');
                            document.getElementById('addButton').classList.add('btn-success');
                            document.getElementById("addButton").innerHTML = "Added"
                        }
                    }
                });
            }
            
		</script>
	</head>
	<body>



        <% include ../shared/_navbar %>
        <div class="container" style="padding-top: 100px">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= title %>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <!--Basic Course Information-->
                                <div class="col-md-4">
                                    <label>Instructor: </label><a href="#"><%= instructor %></a><br>
                                    <label>Term: </label><%= term %><br>
                                    <label>Class Times: </label><%= meeting_days %> <%= start_time %> to <%= end_time %><br>
                                    <label>Room: </label><%= room %><br>
                                    <label>Seats Available: </label><%= seats %><br>
                                    <label>Rating: </label> <script> document.write(ratingAvg) </script>/5.0<br>
                                    <div style="width: 100%; text-align: center">
                                        <% if(enrolled == true){ %>
                                            <button id="addButton" class="btn btn-success btn-lg">Added</button>
                                        <% }else{%>
                                            <button id="addButton" class="btn btn-gold btn-lg" onclick="addCourse()">Add Class</button>
                                        <% } %>
                                    </div>
                                </div>
                                <!--Ratings Graphs-->
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Average Grade: <script> document.write(avgLetterGrade) </script>  
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="canvas" height="450" width="600"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Difficulty: <script> document.write(difficultyAvg) </script>
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="canvas2" height="450" width="600"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>  
                                </div>
                            </div>
                            <!--Reviews Section-->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="panel panel-default col-md-10">
                                    <div class="panel-heading">
                                        Reviews
                                    </div>
                                    <div class="panel-body">
                                        <script>
                                            for(var i = 0; i < reviews.length; i++){
                                                document.write("<div class='row'> \
                                                                    <div class='col-md-1'></div> \
                                                                    <div class='panel panel-default col-md-10'> \
                                                                        <div class='panel-body'> \
                                                                            <span id='rating-" + reviews[i].review_id + "'></span> <span style='color:#aaa;font-family:verdana;font-size:11px'>on August 28, 2015</span> <br> \
                                                                            <i>'" + reviews[i].comment + "'</i> \
                                                                        </div> \
                                                                    </div> \
                                                                    <div class='col-md-1'></div> \
                                                                </div>");
                                                for(var j = 0; j < reviews[i].rating; j++){
                                                    document.getElementById("rating-"+reviews[i].review_id).innerHTML = document.getElementById("rating-"+reviews[i].review_id).innerHTML + "☆";
                                                }
                                            }
                                            
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>			
                </div>	
            </div>
            <div class="col-md-2"></div>	
        </div>
			
		
        <script>
            var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
            var lineChartData = {
                labels : ["January","February","March","April","May","June","July"],
                datasets : [
                    {
                        label: "My First dataset",
                        fillColor : "rgba(220,220,220,0.2)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(220,220,220,1)",
                        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                    },
                    {
                        label: "My Second dataset",
                        fillColor : "rgba(151,187,205,0.2)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(151,187,205,1)",
                        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                    }
                ]
    
            }
    
            window.onload = function(){
                var ctx = document.getElementById("canvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(lineChartData, {
                    responsive: true
                });
                var ctx2 = document.getElementById("canvas2").getContext("2d");
                window.myLine = new Chart(ctx2).Line(lineChartData, {
                    responsive: true
                });
            }
        </script>
	</body>
</html>
