<!DOCTYPE html>
	<head>
        <% include ../shared/_header %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script>
		<script type="text/javascript" src="/javascripts/Chart.js"></script>
		<script>
			function getQuerystringNameValue(name){
				var winURL = window.location.href;
				var queryStringArray = winURL.split("?");
				var queryStringParamArray = queryStringArray[1].split("&");
				var nameValue = null;
			
				for ( var i=0; i<queryStringParamArray.length; i++ )
				{           
					queryStringNameValueArray = queryStringParamArray[i].split("=");
			
					if ( name == queryStringNameValueArray[0] )
					{
						nameValue = queryStringNameValueArray[1];
					}                       
				}
			
				return nameValue;
			}	
			function getObjects(obj, key, val) {
				var objects = [];
				for (var i in obj) {
					if (!obj.hasOwnProperty(i)) continue;
					if (typeof obj[i] == 'object') {
						objects = objects.concat(getObjects(obj[i], key, val));
					} else if (i == key && obj[key] == val) {
						objects.push(obj);
					}
				}
				return objects;
			}
			
     //       var courseID = getQuerystringNameValue("course");
     //       var course = getObjects(obj.courses, "course_id", courseID);
    //        var reviews = getObjects(obj.users, "course_id", courseID);
            //Calculate average rating
    /*        var ratingSum = 0;
            for(var i = 0; i < reviews.length; i++){
                ratingSum += reviews[i].rating;
            }
            if(reviews.length > 0){
                var ratingAvg = (ratingSum / reviews.length).toFixed(2);
            }
            else{
                var ratingAvg = "NA";
            }
            //Calculate average difficulty
            var difficultySum = 0;
            for(var i = 0; i < reviews.length; i++){
                difficultySum += reviews[i].difficulty;
            }
            if(reviews.length > 0){
                var difficultyAvg = (difficultySum / reviews.length).toFixed(2);
            }
            else{
                var difficultyAvg = "NA";
            }
            //Calculate average grade
            gradeArray = {"A":4.0, "A-":3.7, "B+":3.3, "B":3.0, "B-":2.7, "C+":2.3, "C":2.0, "C-":1.7, "D+":1.3, "D":1.0, "D-":0.7, "F+":0.3, "F":0.0};
            var pointArray = [4.0, 3.7, 3.3, 3.0, 2.7, 2.3, 2.0, 1.7, 1.3, 1.0, 0.7, 0.3, 0.0];
            var letterArray = ["A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F+", "F"];
            var gradeSum = 0;
            for(var i = 0; i < reviews.length; i++){
                gradeSum += gradeArray[reviews[i].grade];
            }
            if(reviews.length > 0){
                var gradeAvg = (gradeSum / reviews.length).toFixed(2);
                var diffArray = pointArray;
                for(var i = 0; i < pointArray.length; i++){
                    diffArray[i] = Math.abs(pointArray[i] - gradeAvg);
                }
                leastDiff = Math.min.apply(Math, diffArray);
                var avgLetterGrade = letterArray[diffArray.indexOf(leastDiff)];
            }
            else{
                var avgLetterGrade = "NA";
            }
            */
            //AJAX post request to database, returns course object
            function getCourse(){
                var id = getQuerystringNameValue('course');
                $.ajax( {
                    url: '/course',
                    type: 'POST',
                    data: {"query": "courses", "id" : id},
                    success: function(course) {
                        renderInfo(course);
                        renderCourseComponents(course);
                        getReviews(course);
                    }
                });
            }
            
            //AJAX post request to database, returns reviews object
            function getReviews(course){
                var id = getQuerystringNameValue('course');
                var course_id = course[0].course_id;
                $.ajax( {
                    url: '/course',
                    type: 'POST',
                    data: {"query": "reviews", "id" : id, "course_id": course_id},
                    success: function(reviews) {
                        //render comments from array of reviews
                        renderReviews(reviews);
                        //Create array of unique terms where reviews were submitted
                        var termArray = [];
                        for(var i = 0; i < reviews.length; i++){
                            if(termArray.indexOf(reviews[i].term) < 0){
                                termArray.push(reviews[i].term);
                            }
                        }
                        //send unique terms array to match id's so we can order terms
                        getTerms(termArray, reviews, course[0].instructor.name);
                    }
                });
            }
            
            //AJAX post request to database, returns list of all terms
            function getTerms(termNames, reviews, instructor){
                $.ajax( {
                    url: '/search',
                    type: 'POST',
                    data: {"findTerms" : true},
                    success: function(terms) {
                        console.log("success in terms");
                        //creates array of term objects associated with unique term names and then orders in ascending order by _id
                        var termArray = [];
                        for(var i = 0; i < terms.length; i++){
                            if(termNames.indexOf(terms[i].name) >= 0){
                                termArray.push(terms[i]);
                            }
                        }
                        termArray.sort(compare);
                        //now create a new array of just the term names in the correct order
                        var termNamesOrdered = [];
                        for(var j = 0; j < termArray.length; j++){ termNamesOrdered.push(termArray[j].name); }
                        renderGradePlot(termNamesOrdered, reviews, instructor);
                        renderDifficultyPlot(termNamesOrdered, reviews, instructor);
                        renderRatingPlot(termNamesOrdered, reviews, instructor);
                        renderAvghoursPlot(termNamesOrdered, reviews, instructor);
                    }
                });
            }
            
            //AJAX post request to database, returns list of all courses
            function addOrRemoveCourse(course_id) {
                
                var e = window.event;
                
                e.cancelBubble = true;
                if (e.stopPropagation) e.stopPropagation();
                
                console.log($('#btn_id' + course_id).text());
                
                var query = "add-searchpage"
                if (document.getElementById('btn_' + course_id).innerHTML == "Remove Class") {
                    query = "remove-searchpage";
                }
                console.log(query);
                
                var selectedComponent = null;
                // check for selected component
                if (document.getElementById("component-list").innerHTML != 'None') {
                    selectedComponent = $("input:radio[name=component]:checked").val();
                    console.log(selectedComponent);
                }
                
                $.ajax( {
                    url: '/course',
                    type: 'POST',
                    data: {"query": query, "course_id" : course_id, "component": selectedComponent},
                    success: function(response) {
                        if(response == 'success'){
                            //On success of adding class to db, change class button
                            console.log('POST success class added');
                            document.getElementById('btn_' + course_id).classList.remove('btn-success');
                            document.getElementById('btn_' + course_id).classList.add('btn-danger');
                            document.getElementById('btn_' + course_id).classList.add('btn-md');
                            document.getElementById('btn_' + course_id).innerHTML = "Remove Class";
                            $("input:radio[name=component]").attr("disabled", true);
                            console.log("finished adding course to calendar");
                        }
                        if (response == 'success-remove') {
                            console.log('POST success class removed');
                            document.getElementById('btn_' + course_id).classList.add('btn-success');
                            document.getElementById('btn_' + course_id).classList.remove('btn-danger');
                            document.getElementById('btn_' + course_id).innerHTML = "Add Class";
                            $("input:radio[name=component]").attr("disabled", false);
                        }
                    }
                });
                
                event.stopPropagation();
            }
            
            //Helps sort terms in ascending order by _id
            function compare(a,b) {
                if (a._id < b._id)
                    return -1;
                if (a._id > b._id)
                    return 1;
                return 0;
            }
            //Does average value calculations for value field specified and returns data object to plot
            function createData(valueType, terms, reviews, instructor){
                //Calculate array of average value per term for course
                var avgValueArray = [];
                for(var i = 0; i < terms.length; i++){
                    var sum = 0;
                    var count = 0;
                    for(var j = 0; j < reviews.length; j++){
                        if(terms[i] == reviews[j].term){
                            if(valueType == "grade"){
                                sum += parseInt(reviews[j].grade);
                            }
                            else if(valueType == "difficulty"){
                                sum += parseInt(reviews[j].difficulty);
                            }
                            else if(valueType == "rating"){
                                sum += parseInt(reviews[j].rating);
                            }
                            else if(valueType == "avghours"){
                                sum += parseInt(reviews[j].avghours);
                            }
                            count += 1;
                        }
                    }
                    avgValueArray.push(sum/count);
                }
                
                var data = {
                    labels : terms,
                    datasets : [
                        {
                            label: "Average " + valueType + " for Course",
                            fillColor : "rgba(220,220,220,0.2)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#fff",
                            pointHighlightFill : "#fff",
                            pointHighlightStroke : "rgba(220,220,220,1)",
                            data : avgValueArray
                        }]
                }
                //Creates array of reviews for this instructor, if not all reviews are for professor then add data for this specific professor
                var instructorReviews = [];
                for(var k = 0; k < reviews.length; k++){
                    if(reviews[k].instructor == instructor){
                        instructorReviews.push(reviews[k]);
                    }
                }
                if(instructorReviews.length != reviews.length && instructorReviews.length != 0){
                    var avgInstructorValueArray = [];
                    for(var i = 0; i < terms.length; i++){
                        var sum = 0;
                        var count = 0;
                        for(var j = 0; j < instructorReviews.length; j++){
                            if(terms[i] == instructorReviews[j].term){
                                if(valueType == "grade"){
                                    sum += parseInt(instructorReviews[j].grade);
                                }
                                else if(valueType == "difficulty"){
                                    sum += parseInt(instructorReviews[j].difficulty);
                                }
                                else if(valueType == "rating"){
                                    sum += parseInt(instructorReviews[j].rating);
                                }
                                else if(valueType == "avghours"){
                                    sum += parseInt(instructorReviews[j].avghours);
                                }
                                count += 1;
                            }
                        }
                        if(count == 0){
                            var value = null;
                        }
                        else{
                            var value = sum/count;
                        }
                        
                        avgInstructorValueArray.push(value);
                        var instructorData = {
                            label: "Instructor " + valueType +  "for Course",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: avgInstructorValueArray
                        }
                        data.datasets.push(instructorData);
                    }
                }
                console.log(avgValueArray);
                console.log(avgInstructorValueArray);
                return data;
            }
            //Render Grade Plot
            function renderGradePlot(terms, reviews, instructor){
                //Calculate array of average grade per term for course
                var gradeData = createData("grade", terms, reviews, instructor);
                var ctx = document.getElementById("gradeCanvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(gradeData, {
                    responsive: true
                });     
            }
            //Render Difficulty Plot
            function renderDifficultyPlot(terms, reviews, instructor){
                //Calculate array of average difficulty per term for course
                var difficultyData = createData("difficulty", terms, reviews, instructor);
                var ctx = document.getElementById("difficultyCanvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(difficultyData, {
                    responsive: true
                });     
            }
            //Render Rating Plot
            function renderRatingPlot(terms, reviews, instructor){
                //Calculate array of average rating per term for course
                var ratingData = createData("rating", terms, reviews, instructor);
                var ctx = document.getElementById("ratingCanvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(ratingData, {
                    responsive: true
                });     
            }
            //Render Avghours Plot
            function renderAvghoursPlot(terms, reviews, instructor){
                //Calculate array of average avghours per term for course
                var avghoursData = createData("avghours", terms, reviews, instructor);
                var ctx = document.getElementById("avghoursCanvas").getContext("2d");
                window.myLine = new Chart(ctx).Line(avghoursData, {
                    responsive: true
                });     
            }
		</script>
	</head>
	<body>



        <% include ../shared/_navbar %>
        <div class="container" style="padding-top: 150px">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= courseObj.title %>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <!--Basic Course Information-->
                                <div class="col-md-4">
                                    <label><font size="3">Course: &nbsp</font></label><a href="#"><%= courseObj.class_num %></a><br>
                                    <label><font size="3">Section: &nbsp</font></label><a href="#"><%= courseObj.section %></a><br>
                                    <label><font size="3">Instructor: &nbsp</font></label><a href="#"><%= courseObj.instructor.name %></a><br>
                                    <label><font size="3">Term: &nbsp</label><%= courseObj.term %><br>
                                    <% if(courseObj.start_time != null){ %>
                                    <label><font size="3">Class Times: &nbsp</label><%= courseObj.meeting_days %> <%= courseObj.start_time %> to <%= courseObj.end_time %><br>
                                    <% }else{%>
                                    <label><font size="3">Class Times: &nbsp</label>TBA<br>
                                    <% } %>
                                    <% if(courseObj.room != null){ %>
                                    <label><font size="3">Room: &nbsp</label><%= courseObj.room.name%> <%=courseObj.room.building_name %><br>
                                    <% }else{%>
                                    <label><font size="3">Room: &nbsp</label>NA<br>
                                    <% } %>
                                    <label><font size="3">Seats: &nbsp</label><%= courseObj.seats %><br>
                                    <% if(courseObj.rating == ""){ %>
                                    <label><font size="3">Rating: &nbsp</label>Not enough data<br>
                                    <% }else{ %>
                                    <label><font size="3">Rating: &nbsp</label><%= courseObj.rating.toFixed(1) %>/5.0<br>    
                                    <% } %>
                                    
                                    <div style="width: 100%; text-align: center;padding-top: 30px; margin-bottom: 40px">
                                        <% if(enrolled == true){ %>
                                            <button id="btn_<%= courseObj._id %>" class="btn btn-danger btn-md" onclick="addOrRemoveCourse(<%= courseObj._id %>)">Remove Class</button>
                                        <% }else{%>
                                            <button id="btn_<%= courseObj._id %>" class="btn btn-success btn-md" onclick="addOrRemoveCourse(<%= courseObj._id %>)">Add Class</button>
                                        <% } %>
                                    </div>
                                </div>
                                <!--Ratings Graphs-->
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!--Grade Plot-->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <% if(courseObj.grade == 0){ %>
                                                    Grade: Not Enough Data
                                                    <% }else{ %>
                                                    Grade: <%= courseObj.grade.toFixed(2) %>    
                                                    <% } %>  
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="gradeCanvas" height="250" width="auto"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!--Difficulty Plog-->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <% if(courseObj.difficulty == ""){ %>
                                                    Difficulty: Not Enough Data
                                                    <% }else{ %>
                                                    Difficulty: <%= courseObj.difficulty.toFixed(2) %>    
                                                    <% } %>
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="difficultyCanvas" height="250" width="auto"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>  
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!--Rating Plot-->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <% if(courseObj.rating == 0){ %>
                                                    Rating: Not Enough Data
                                                    <% }else{ %>
                                                    Rating: <%= courseObj.rating.toFixed(2) %>    
                                                    <% } %>  
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="ratingCanvas" height="250" width="auto"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!--Time Spent Plot-->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <% if(courseObj.avghours == ""){ %>
                                                    Time Spent: Not Enough Data
                                                    <% }else{ %>
                                                    Time Spent: <%= courseObj.avghours.toFixed(2) %>    
                                                    <% } %>
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <canvas id="avghoursCanvas" height="250" width="auto"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>  
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="panel panel-default col-md-12">
                                    <div class="panel-heading">
                                        Course Information
                                    </div>
                                    <div class="panel-body" id="info">
                                        <script>
                                            function renderInfo(courseArr) {
                                                var html = "";    
                                                var course = courseArr[0];
                                                
                                                var overview = course.overview;
                                                var attributes = course.attributes;
                                                var requirements = course.requirements;
                                                
                                                // replace all escaped characters because ball is life
                                                overview = (overview) ? overview.replace(/\./i, "") : "";
                                                attributes = (attributes) ? attributes.replace(/\./i, "") : "";
                                                requirements = (requirements) ? requirements.replace(/\./i, "") : "";
                                                
                                                html += "<p><b>Overview:</b> " + overview + "</p>";
                                                html += "<p><b>Attributes:</b> " + attributes + "</p>";
                                                html += "<p><b>Requirements:</b> " + requirements + "</p>";
                                                
                                                document.getElementById('info').innerHTML = html;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Course Components -->
                            <div class="row">
                                <div class="panel panel-default col-md-12">
                                    <div class="panel-heading">
                                        Course Components
                                    </div>
                                    <div class="panel-body" id="components">
                                        <ul class="list-group" id="component-list">
                                            <script>
                                                function renderCourseComponents(courseArr) {
                                                    var html = "";
                                                    var course = courseArr[0];
                                                    
                                                    // get current_components
                                                    var current_components = { <%= user.current_components %> };
                                                    
                                                    if (course.course_components) {
                                                        if (course.course_components.length == 0) {
                                                            html = "None";
                                                        }
                                                        else {
                                                            for (var i = 0; i < course.course_components.length; i++) {
                                                                
                                                                var section = course.course_components[i].section;
                                                                var meeting_days = course.course_components[i].meeting_days;
                                                                var start = course.course_components[i].start_time;
                                                                var end = course.course_components[i].end_time;
                                                                var room = course.course_components[i].room;
                                                                var component = course.course_components[i].component;
                                                                var componentId = course._id + ":" + section;
                                                                
                                                                html += "<li class='list-group-item' style='display: inline-block; width: 100%;'>";
                                                                html += "<p style='float: left;'>Section: " + section + " - " + component + "<br>";
                                                                html += "Time: " + meeting_days + " " + start + " - " + end + "<br>";
                                                                html += "Location: " + room + "</p>";
                                                                html += "<div id='radio-div'><br><input id='btn_" + componentId + "' style='float: right;' type='radio' name='component' value='" + componentId +"'></div></li>";
                                                                
                                                            }
                                                        }
                                                    }
                                                    else {
                                                        html = "None";
                                                    }
                                                    
                                                    document.getElementById("component-list").innerHTML = html;
                                                    
                                                    if (course.course_components && course.course_components.length > 0) {
                                                        $("input:radio[name=component]:first").attr('checked', true);
                                                    }
                                                    
                                                    // check if component is already selected
                                                    if (current_components.hasOwnProperty(course._id) && current_components[course._id] == section) {
                                                        btnStyle = 'btn-danger';
                                                        btnText = 'Remove Component';
                                                    }
                                                }
                                                
                                            </script>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Maps Section -->
                            <div class="row">
                                
                            </div>
                            
                            
                            
                            <!--Reviews Section-->
                            <div class="row">
                                <div class="panel panel-default col-md-12">
                                    <div class="panel-heading">
                                        Comments
                                    </div>
                                    <div class="panel-body" id="comments">
                                        <script>
                                            function renderReviews(reviews){
                                                var html = "";
                                                for(var i = 0; i < reviews.length; i++){
                                                    if(reviews[i].comments.length > 0){
                                                        html += '<div class="row"> \
                                                                        <div class="col-md-1"></div> \
                                                                        <div class="panel panel-default col-md-10"> \
                                                                            <div class="panel-body"> \
                                                                                <span id="rating-' + reviews[i]._id + '"></span> <span style="color:#aaa;font-family:verdana;font-size:11px">' + reviews[i].timestamp + '</span> <br> \
                                                                                <i>"' + reviews[i].comments + '"</i> \
                                                                            </div> \
                                                                        </div> \
                                                                        <div class="col-md-1"></div> \
                                                                    </div>'; 
                                                    }                                                    
                                                }
                                                if(reviews.length == 0)
                                                {
                                                    html += '<p>There is no review of this class yet.</p>';                                                                                                                             
                                                }
                                                document.getElementById('comments').innerHTML = html;
                                                for(var i = 0; i < reviews.length; i++){
                                                    if(reviews[i].comments.length > 0){
                                                        for(var j = 0; j < Math.round(reviews[i].rating); j++){
                                                            document.getElementById("rating-"+reviews[i]._id).innerHTML = document.getElementById("rating-"+reviews[i]._id).innerHTML + "☆";
                                                        }
                                                    }
                                                }
                                                
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>	
            </div>
            <div class="col-md-2"></div>	
        </div>
			
		
        <script>
            $(document).ready(function() {  
                getCourse(); 
            });
        </script>
	</body>
</html>
